body {
	background-color: #b3b3b3;
	text-align: center;
	font-family: "Lucida Console", Monaco, monospace;
}

#leftPanel {
	position: fixed;
	height: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	width: 200px;
	text-align: center;
	background-color: #FF0000;
	border-right: 2px;
	border-right-style: solid;
	border-color: #000000;
	-moz-user-drag: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	user-drag: none; 
	user-select: none;
}

#title {
	font-size: 20px;
	margin-top: 10px;
	width: 100%;
}

#instructions {
	display: none;
}

#fileSelect {
	margin-top: 10px;
}

input[type=file] {
	width: 180px;
	overflow: hidden;
	background-color: #AA0000;
	border: 2px;
	border-style: solid;
	border-color: #000000;
}

#vtfSpecs {
	font-size: 10px;
}

#convertButton {
	position: absolute;
	bottom: 80px;
	border: 2px;
	border-style: solid;
	border-color: #000000;
	width: 150px;
	left: 0;
	right: 0;
	margin: 0 auto;
	font-size: 20px;
}

#downloadButton {
	position: absolute;
	bottom: 40px;
	border: 2px;
	border-style: solid;
	border-color: #000000;
	width: 150px;
	left: 0;
	right: 0;
	margin: 0 auto;
	font-size: 20px;
}

#rightPanel {
	position: fixed;
	left: 202px;
	right: 0;
	top: 0;
	bottom: 42px;
	background-color: #0000FF;
	padding: 10px;
	overflow: auto;
	-moz-user-drag: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	user-drag: none; 
	user-select: none;
}

.createsetting {
	display: inline-block;
}

.setting {
	display: inline-block;
	width: 120px;
}

.setting form {
	text-align: left;
}

#resolutionNotice {
	color: #888888;
	display: block;
	visibility: visible;
}

#brightnessform {
	text-align: center;
}

#contentWrapper {
	background: url("img/bg.gif");
	background-position: 0 0;
	border-bottom: 1px;
	border-bottom-style: solid;
	border-bottom-color: #c4c4c4;
	border-right: 1px;
	border-right-style: solid;
	border-right-color: #c4c4c4;
	border-left: 1px;
	border-left-style: solid;
	border-left-color: #a4a4a4;
	border-top: 1px;
	border-top-style: solid;
	border-top-color: #a4a4a4;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	height: 1020px;
}

#mipmaps {
	margin-left: auto;
	margin-right: auto;
}

#mipmaps canvas {
	background: url("img/bg.gif");
	background-position: 0 0;
	border-bottom: 1px;
	border-bottom-style: solid;
	border-bottom-color: #c4c4c4;
	border-right: 1px;
	border-right-style: solid;
	border-right-color: #c4c4c4;
	border-left: 1px;
	border-left-style: solid;
	border-left-color: #a4a4a4;
	border-top: 1px;
	border-top-style: solid;
	border-top-color: #a4a4a4;
}

.mipmapElement {
	margin-top: 20px;
}

.input {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#canvas {
	position: absolute;
	top: 0;
	left: 0;
}

#tempCanvas {
	visibility: hidden;
}

#bottomPanel {
	position: fixed;
	bottom: 0;
	left: 202px;
	width: 100%;
	height: 40px;
	background-color: #00FF00;
	border-top: 2px;
	border-top-style: solid;
	border-color: #000000;
	-moz-user-drag: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	user-drag: none; 
	user-select: none;
}
